<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cabecera </title>
    <link rel="stylesheet" href="./css/cabecera.css">
    <link rel="stylesheet" href="./css/misModales.css">
</head>

<body>

    <div class="modal fade" id="modalInfoAviso" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <!-- cabecera del diálogo -->
                <div class="modal-header">
                    <h4 class="modal-title">Información del aviso</h4>
                    <button type="button" class="btn-danger" data-bs-dismiss="modal">
                        <i class="bi bi-x"></i>
                    </button>
                </div>

                <!-- cuerpo del diálogo -->
                <div class="modal-body">

                    <div class="row justify-content-between">
                        <div class="col col-auto">
                            <h4 id="nombreUsuario" class="nombreUsuario"></h4>
                        </div>

                        <div class="col col-auto d-flex flex-row">
                            <h4 id="idAviso" class="idAviso"></h4>
                            <h4>&nbsp</h4>
                            <h4 id="tipoAviso" class="tipoAviso"></h4>
                        </div>
                    </div>
                    
                    <hr class="rounded visible mb-2 mt-1">

                    <div class="row">
                        <div class="col col-auto d-flex flex-row">
                            <h6> <strong> Fecha&nbsp </strong> </h6>
                            <h6 class="ps-2 pe-2 rounded-pill bg-light text-dark fechaAviso" id="fechaAviso"></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-auto d-flex flex-row">
                            <h6> <strong id="subtipoUno" class="subtipoUno"> </strong> &nbsp </h6>
                            <h6 id="subtipoDos" class="subtipoDos ps-2 pe-2 rounded-pill bg-light text-dark"></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-auto d-flex flex-row">
                            <h6> <strong> Perfil&nbsp </strong> </h6>
                            <h6 id="perfilUsuarioAviso" class="ps-2 pe-2 rounded-pill bg-light text-dark perfilUsuarioAviso"></h6>
                        </div>
                    </div>

                    <hr class="rounded visible mb-2 mt-1">

                    <div class="row">
                        <div class="col col-auto d-flex flex-row">
                            <h6> <strong> Observaciones </strong> </h6>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-11">
                            <div id="textoAviso" class="maxSized-sm rounded-3 border p-1 border-light text-break textoAviso saltos"></div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col col-auto d-flex flex-row">
                            <h6> <strong> Comentarios del técnico</strong> </h6>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col col-11">
                            <div id="comentarioTecnico" class="maxSized-sm border rounded-3 p-1 border-light text-break comentarioTecnico saltos">Sin observaciones...</div>
                        </div>
                    </div>
                </div>

                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <h4 class="invisible">Helo</h4>
                </div>

            </div>
        </div>
    </div>

</body>

</html>