<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UCM-CAU </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/tablas.css">
    <link rel="stylesheet" href="./css/fondo.css">
</head>

<body class="backGround">

    <%- include ("subplantillas/cabecera") %>

        <div class="container mt-2">
            <ul class="nav">
                <li class="nav-item bg-light me-1 rounded-3">
                    <a class="nav-link" href="#">Mis avisos</a>
                </li>
                <li class="nav-item bg-light me-1 rounded-3">
                    <a class="nav-link" href="#">Histórico de avisos</a>
                </li>
            </ul>
            <div class="table-responsive mt-1">
                <table class="table custom-table rounded-3 table-borderless table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Texto</th>
                            <th scope="col" class="text-center">Tipo</th>
                            <th scope="col">Ténico</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle tamFecha"> 1392 </td>
                            <td class="align-middle tamTexto"> xd haha salu3 </td>
                            <td class="align-middle text-center tamTipo"> <img src="./images/felicitacion.png" alt="">
                            </td>
                            <td class="align-middle tamTecnico"> Rubén </td>
                        </tr>

                        <tr>
                            <td class="align-middle"> 1392 </td>
                            <td class="align-middle"> xd haha salu3 </td>
                            <td class="align-middle text-center"> <img src="./images/sugerencia.png" alt=""></td>
                            <td class="align-middle"> Rubén </td>
                        </tr>

                        <tr>
                            <td class="align-middle"> 1392 </td>
                            <td class="align-middle"> xd haha salu3 </td>
                            <td class="align-middle text-center"> <img src="./images/incidencia.png" alt=""></td>
                            <td class="align-middle"> Rubén </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        </div>

</body>

</html>