.fondo{
    background-color: rgb(43, 57, 121);
}

.alturaCabecera{
    max-height: 8em;
    height: auto;
}

.texto-rojo{
    color: red;
}

.form{
    position: relative;
}

.saltos{
    white-space: pre-wrap;
}