.table {
   color: black;
   border-spacing: 1em;
   background-color: white;
   max-height: 400px;
   word-break: break-word;
}

.tbheight{
   max-height: clamp(25em,10vh,250px);
   overflow: auto;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(216, 216, 216);
}


.table-striped tr:last-child td:last-child {
   border-bottom-right-radius: 0.3rem;
}

.table-striped tr:last-child td:first-child {
   border-bottom-left-radius: 0.3rem;
}

.nav-link {
   color: black !important;
}