.table {
   color: black;
   border-spacing: 1em;
   background-color: white;
   max-height: 400px;
   word-break: break-word;
}

th:not(.tec){
   border-right: 1px solid #182c4c;
}

td:not(.tec){
   border-right: 1px solid #182c4c;
}

.tbheight{
   max-height: clamp(25em,10vh,250px);
   overflow: auto;
   background-color: white;
}

.table {
   --bs-table-striped-bg: rgba(15, 150, 255, 0.1) !important;
 }

.anchura-min{
   min-width: 6em;
}

.table-striped tr:last-child td:last-child {
   border-bottom-right-radius: 0.3rem;
}

.table-striped tr:last-child td:nth-child(2) {
   border-bottom-left-radius: 0.3rem;
}

.nav-link {
   color: black !important;
}

.shadow-inset-center:hover {
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}

 @-webkit-keyframes shadow-inset-center {
   0% {
     -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
             box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
     -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
             box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
   }
 }
 @keyframes shadow-inset-center {
   0% {
     -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
             box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
   }
   100% {
     -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
             box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
   }
 }
 

button:disabled{
   pointer-events: none;
}

/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: lightgray;
   border-top-right-radius: 0.3rem;
   border-bottom-right-radius: 0.3rem;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   border-radius: 0.3rem;
   border-left: 3px solid lightgray;
   border-right: 3px solid lightgray;
   background:  grey;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
   border-left: 2px solid lightgray;
   border-right: 2px solid lightgray;
 }