.userImage{
    max-height: 200px;
    max-width: 200px;
    min-height: 100px;
    min-width: 100px;
    width: 20%;
    height: auto;
}

.modal-body{
    background-color: #182c4c;
    color: white;
}

.visible{
    color: #02D2F0;
    height: 5px !important;
}