.jungleGreen{
    background-color: #071E22;    
}

.myrtleGreen{
    background-color: #1D7874;
}

.beige{
    background-color: #F2F3D9;
}

.dogwoodRose{
    background-color: #D90368 ;
}

.timberwolf{
    background-color: #EADEDA;
}

.encabezado{
    height: 7em;
    position: sticky;
}

.row{
    width: 100%;
}

.pepe{
    width: fit-content;
}