header,footer, button{
    display: none !important;
}
.etiqueta-print{
    font-weight: normal;
}

.tarea-print::after{
    content: ":";
}

.etiqueta-print::before{
    content: "(";
}

.etiqueta-print::after{
    content: ")";
}

.en-negrita{
    font-weight: bold;
}

.print-tarea{
    display: list-item;
    margin-left: 1em;
}

.print-tachada{
    margin-left: 2em;
}

