.jungleGreen{
    background-color: #071E22;    
}

.myrtleGreen{
    background-color: #1D7874;
}

.beige{
    background-color: #F2F3D9;
}

.dogwoodRose{
    background-color: #D90368 ;
}

.timberwolf{
    background-color: #EADEDA;
}

.texto-rojo{
    color: red;
}

.encabezado{
    height: fit-content;
    position: sticky;
}

.bordeado-myrt{
    border: 1px solid #1D7874;
    border-radius: 5px;
    padding: 7px;
}

#logo{
    height: 4em;
    width: 4em;
}

.row{
    width: 100%;
}

#botonesInferiores{
    text-align: center;
}

.margenb{
    margin-bottom: 4em;
}

.altura-tarea{
    min-height: 3.5em;
}

.transparente{
    background-color: transparent;
}

#tareas{
    display: none;
}

